*.py[cod]
*$py.class

eggs/
.eggs/
*.egg-info/
*.egg

# Editor related.
settings.json
.idea

# Log related.
*.log
.profile

bp_collection/
systolic_collection/
row_stationary_collection/

nndf_collect/
