*.py[cod]
*$py.class

eggs/
.eggs/
*.egg-info/
*.egg

# Editor related.
settings.json
.idea

# Log related.
*.log
*.profile
*.json
*.pdf

# Experiment related.
bp_collection/
systolic_collection/
row_stationary_collection/
nndf_collect/
profiling_script.py
hardware_explorer/hw_explr/
hardware_explorer/design_explr_pickle/